*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
/* ALL */
.bg-csf{
  background-color: #1543ad;
}
.bg-csf1{
  background-color: #152BAD;
}
body{
  color: #222222;
  font-family:  "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
}

/* ----------- Section Header ----------- */
.navbar-brand{
  width: 65px;
  /* height: 70px; */
}

.btn-nav{
  padding: 9px 35px;
  background-color: #152BAD;
}
.btn-nav:hover{
  background-color: #155fad;
}

.nav-item{
  position: relative;
}

.nav-item .active{
  color: #152BAD !important;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.nav-item .active::before{
  content: '';
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translatex(-50%);
  width: 35px;
  height: 2px;
  z-index: 1000;
  background-color: #152BAD;
}

.dropdown-item.drop-active{
  background-color: #152BAD !important;
  color: white !important;
  cursor: pointer;
}

.dropdown-item:hover{
  /* background-color: #155fad !important;
  color: white !important; */
  box-shadow: 0 0 5px #152cad8e;
  color: #152BAD !important;
}

.dropdown-item:hover.drop-active{
  color: #152BAD !important;
  background-color: white !important;
}

.dropdown-item:focus{
  background-color: #152BAD !important;
  color: white !important;
}

/* ----------- L'image qui occupe toute la zone ----------- */

#home .container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;

}

/* ----------- les formations ----------- */

.unTitre::before{
  content: '';
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 2px;
  background-color: #152BAD;
  opacity: 0.2;
  left: 50%;
  transform: translateX(-50%);
}

/* ----------- Section Temoignages ----------- */

.temoignages .content{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.temoignages .img-slide{
  width: 175px;
  height: 175px;
}
.temoignages .img-slide img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.temoignages .info{
  width: 500px;
  height: auto;
  padding-left: 15px;
  border-left: 3px solid #ce1212;
  margin-bottom: 70px;
}
.temoignages .stars i{
  color: #f9c117;
  font-size: 13px;
}

/* ----------- Home Page ----------- */
#hero .hero-bg{
  width: 100%;
  height: 100vh;
  background-image: url(pictures/bg\ pictures.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.hero-bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to right, rgba(21, 43, 173, 0.8), rgba(255, 255, 255, 0.1));
}
/* #hero .hero-bg{

  width: 100%;
} */
#hero .hero-text{
  width: 70%;
  position: relative;
  top: -35px;
  margin: 270px auto 0;
  z-index: 3;
  color: #ffffff;
}

/* .hero-text h1{
  letter-spacing: 3px;
  font-size: 4.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
} */

.hero-text h1 {
  letter-spacing: 3px;
  font-size: 4.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  position: relative;
  animation: slideAcross 30s linear infinite;
}

.hero-text h2{
  font-size: 1.4rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

#info h2{
  color: #152BAD;
  position: relative;
}

#info h2::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #D0071A;
}

/* Animation */

@keyframes slideAcross {
  0% {
    transform: translateX(-100%);
    letter-spacing: 3px;
    opacity: 0;
  }

  5%{
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    letter-spacing: 3px;
  }

  40% {
    transform: translateX(0);
    letter-spacing: 10px; /* espacement max */
    opacity: 1;
  }

  60% {
    transform: translateX(0);
    letter-spacing: 3px; /* retour à la normale */
    opacity: 1;
  }

  80% {
    transform: translateX(0);
    letter-spacing: 3px;
  }

  95%{
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    letter-spacing: 3px;
    opacity: 0;
  }
}

.btn-hero{
  padding: 15px 35px;
  background-color: #152BAD;
  color: white;
  border: 1px solid white;
  color: #ffffff;
  margin-top: 20px;
}
.btn-hero:hover{
  background-color: #155fad;
}
.btn-cta{
  padding: 11px 35px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #152BAD;
}


/* ------------- texte cosefor et les icones */

#info .pararaphe-texte{
  font-size: 20px;
}

#stats i{
  font-size: 40px;
  margin-bottom: 10px;
  color: #152BAD;
}

#stats span{
  color: #152BAD;
}



/* ----------- Card ----------- */

.card, .fcard{
  border: 1px solid #152cad27 !important;
  cursor: context-menu;
}

.fcard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 7px;
  transition: all .3s ease-in-out;
}

.fcard:hover{
  /* padding: 5px; */
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img{
  position: relative;
  z-index: 1;
}

.card img::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 2;
}

.card .card-title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .card-text{
  font-size: 14px !important;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-body .btn{
  background-color: #152BAD !important;
  border: none;
  padding: 5px 10px !important;
  font-size: 15px;
}

/* ----------- About Page ----------- */
#about .link-ap{
  text-decoration: none;
  font-weight: bold;
}
#about .link-ap1{
  color: #cccccc;
  /* font-weight: bold; */
}
/* Team */
.equipe-card{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out;
}

.equipe-card:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.team-job{
  font-size: 14px;
  opacity: 0.8;
}

.team-img{
  width: 220px;
  height: 200px;
  margin: 10px;
}
.team-img img{
  width: 100%;
}
.team-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.team-title h5{
  font-size: 16px;
  /* letter-spacing: 2px; */
  font-weight: 500;
}

.sm-icon{
  margin-top: 10px;
}
.sm-item a{
  text-decoration: none;
}
.sm-item a i{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid  #cccccc;
  color: #cccccc;
}
.sm-item a:hover,
.sm-item i:hover
{
  border: 1px solid #152BAD;;
  color: #152BAD;
}
.partner-item{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  /* background-color: #152cad23; */
  border: 1px solid #152cad23;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.partner-item img{
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.gallery-item{
  /* width: 350px;
  height: 210px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #152BAD; */
  /* border: 1px solid #000; */
}
/* .gallery-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
} */
.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/* Zoom léger sur l'image au survol */
.gallery-item:hover img {
  transform: scale(1.1);
}
/* .gallery-item img{
  width: 100%;
  height: 100%;
} */
/* ----------- Course Page ----------- */
#courses .link-f{
  text-decoration: none;
  font-weight: bold;
}
#courses .link-f1{
  color: #cccccc;
  /* font-weight: bold; */
}

/* ----------- Event Page ----------- */
#event .link-e{
  text-decoration: none;
  font-weight: bold;
}
#event .link-e1{
  color: #cccccc;
  /* font-weight: bold; */
}

/* ----------- Contact Page ----------- */
#contact .link-c{
  text-decoration: none;
  font-weight: bold;
}
#contact .link-c1{
  color: #cccccc;
  /* font-weight: bold; */
}
#contact .form-btn{
  padding: 13px 55px;
  background-color: #152BAD;
}
#contact .form-btn:hover{
  background-color: #155fad;
}
/* #contact .coord{
  border: 1px solid #008374;
} */
.coord-adress i{
  padding: 19px;
}
.coord-tel i{
  padding: 17px;
}
.coord-mail i{
  padding: 17px;
}
.coord-mail a{
  text-decoration: none;
}
/* ----------- Footer Section ----------- */
footer{
  background-color: #F9F9F9;
  color: #000;
}
.logo{
  width: 70px;
  height: 70px;
}
footer .social-media .sm-item a{
  text-decoration: none;
}
footer .social-media .sm-item a i{
  width: 45px;
  height: 45px;
  /* font-size: 15px; */
  /* border-radius: 100%; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  color: #878484;
}
footer .social-media .sm-item a:hover,
footer .social-media .sm-item i:hover
{
   border: 1px solid  #152BAD;
   color: #152BAD; 
}

footer .links ul li{
  list-style: none;
  margin-top: 7px;
}
footer .links ul li a{
  text-decoration: none;
  font-size: 15px;
 
  color: #878484;
}
footer .formations ul li{
  list-style: none;
  margin-top: 7px;
}
footer .formations ul li a{
  list-style: none;
  text-decoration: none;
  color: #878484;
}

footer .adress .add-adress ul li{
  list-style: none;
  margin-top: 7px;
}
.copyright{
  font-size: 14px;
  font-weight: 600;
}
.copyright a{
  text-decoration: none;
  color: #ffffff;
}
.arrow-up{
  width: 45px;
  height: 45px;
  /* border-radius: 50%; */
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #152BAD;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.arrow-up i{
  color: white;
  font-size: 17px;
}
